body {
  font-family: Verdana;
  background-color: #f0f0f0;
  color: white;
  width:100%;
  margin:0px;
  padding:0px;
  border:0px;
}

a {
  color: #179AB2;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
  color: #179ab2;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

hr {
  size: 1px;
  color: white;
}

.index {
  height:100%;
  border: 1px solid #303030;
  position:absolute;
  top: 10px;
  right: 0px;
  background-color: #303030;
  padding-right: 10px;
  padding-left: -20px;
  z-index: 1;
}

ul {
  text-align: right;
  list-style: none;
}

.index:hover {
  z-index: 200;
}

.whitebox {
  position:absolute;
  width:100%;
  height:100%;
  margin:0px;
  border:0px;
  background-color:#f0f0f0;
  z-index:10;
}

.contents {
  left: 10%;
  right: 10%;
  position:absolute;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: justify;
  color: black;
  z-index: 150 !important;
}

.contents:hover {
  z-index: -150px !important;
}

.title {
  margin:0px;
  padding:16px;
  border:0px;
  z-index: 2;
  background-color: #303030 !important;
}
