<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</meta>
<link rel="stylesheet" href="../style.css"></link>
</head>
<body>
<div class="title">
<{markdown}>
OpBlog
======
The Assembly Programming Blog

[--pancake](https://twitter.com/trufae)
<{/markdown}>
</div>
<div class="whitebox">
</div>
<div class="contents">
<{post}>contents<{/post}>
</div>
<div class="index">
<br />
<{post}>index<{/post}>
</div>
</body>
</html>
